<div class="container pt-5">
    <form action="https://formspree.io/f/xpzejggp" method="POST">
        <div class="mb-3">
            <label class="form-label labels-text-font">Your email:</label>
            <input type="email" name="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label class="form-label labels-text-font">What's cooking:</label>
            <textarea class="form-control" name="message" rows="3" placeholder="Include first, last name, and phone number!"></textarea>
        </div>
        <!-- your other form fields go here -->
        <button type="submit" class="btn btn-success">Order Up!</button>
    </form>
</div>