<div class="container pt-5">
<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
  <fieldset id="fs-frm-inputs">
    <legend>For inquires, catering orders, or to book Oohlam New York at your next event: please fill out the form below</legend>
    <div class="mt-5 mb-3">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First name" required="true">
    </div>
    <div class="mb-3">
      <label for="last-name" class="form-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last name" required="true">
    </div>
    <div class="mb-3">
        <label for="email-address" class="form-label">Email Address</label>
        <input type="email" class="form-control" name="_replyto" id="email-address" placeholder="order@oohlamnyc.com" required="true">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea rows="5" class="form-control" name="message" id="message" placeholder="Whats cooking?" required="true"></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    </div>
  </fieldset>
  <input type="submit" value="Submit">
</form>
</div>