<div class="container-fluid body-color">
  <div class="row pt-5 pb-5">
    <div class="col d-flex justify-content-center pt-5 align-self-center text-center title-mobile">
      <h2>Homestyle Filipino Food</h2>
    </div>
    <div class="col-6 d-flex justify-content-center sticker-mobile">
      <%= image_tag("Oohlam Sticker 1.png", class: "sticker-desktop") %>
    </div>
    <div class="col d-flex justify-content-center pt-5 align-self-center text-center">
      <h2>Next Pop-Up: 4/15 @ 6th Ave. Between 27th & 28th Street New York, NY</h2>
    </div>
  </div>
</div>