<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col d-flex justify-content-center">
            <%= image_path("assets/about(1).jpg"), class: "rounded-circle w-50" %%>
        </div>
        <div class="col d-flex justify-content-center pt-5 align-self-center text-center">
            <p>Welcome to OohlamNY, a Homestyle Filipino Food brand that brings the flavors and traditions of the Philippines to the heart of New York City. Our story begins with a passion for food and a love for Filipino cuisine. As Filipinos ourselves, we grew up with the rich and diverse flavors of our homeland, and we wanted to share that experience with the world. That's why we founded OohlamNY - to introduce New Yorkers to the delicious and authentic taste of Homestyle Filipino Food. 
            At OohlamNY, we take pride in our commitment to quality ingredients and traditional cooking techniques. We use only the freshest ingredients and cook everything from scratch, just like our mothers and grandmothers taught us.
            But it's not just about the food - it's also about the experience. When you come to OohlamNY, you'll be greeted with warmth and hospitality, just like you would in a Filipino home. We want to make you feel like part of our family, and we hope that our food will bring you comfort and joy.
            Whether you're a Filipino looking for a taste of home, or someone who's curious about Filipino cuisine, we welcome you to OohlamNY. Salamat po! (Thank you!)</p>
        </div>
    </div>
</div>