@font-face {
    font-family: 'Funkydori';
    src: url('assets/Funkydori-Bold.ttf');
}

@font-face {
    font-family: 'Arial-Rounded';
    src: url('assets/ARLRDBD.tff');
}

@font-face {
    font-family: 'Rust-Base';
    src: url('assets/IntroRust-base.otf');
}