.navbar-custom {
    background-color: #FFF4DE;
    font-family: "Rust-Base";
    font-size: 1.5em;
    font-weight: bold;
}


#gallery-link {
    font-family: "Rust-Base";
}

.nav-link {
    color:  #413635;
}

.navbar-nav .nav-item {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 501px) {
    #nav-logo {
        display: none;
    }    
}

footer a {
    color: #413635;
}