h2 {
    font-family: 'Arial-Rounded';
    color: #000000;
}

p {
    font-family: 'Arial-Rounded';
    color: #000000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.labels-text-font {
    font-family: 'Funkydori';
    color: #000000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 2.5em;
}

.btn {
    font-family: 'Arial-Rounded';
}

footer {
    background-color: #FFF4DE;
}


.home-text {
    font-family: "Intro-Rust";
    font-size: 1.5em;
}