h2 {
    font-family: 'Arial-Rounded';
    color: #FFBF1F;
}

p {
    font-family: 'Arial-Rounded';
    color: #FFBF1F;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.labels-text-font {
    font-family: 'Funkydori';
    color: #FFBF1F;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 2.5em;
}

.btn {
    font-family: 'Arial-Rounded';
}

.body-color {
    background-color: #FFF4DE;
}