
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 mb-0 border-top">
        <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-tiktok"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/oohlamny/"><i class="bi bi-instagram"></i></a></li>
        </ul>
        <% if user_signed_in? %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-danger justify-content-end" %>
        <% end %>
    </footer>
