<div class="container-fluid">
    <div class="text-center">
    <%= image_tag("Oohlam Logo 1 (1).png", class: "img-fluid logo-image") %>
    </div>
    <nav class="navbar navbar-custom navbar-expand-lg justify-content-center pr-0 pl-0">
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/order">Place an Order</a>
        </li>
    </ul>
    </nav>
</div>